$primary-color: #388e3c;
$primary-color-hover: #ff3d00;

$font-light: #fff;
$font-dark: #000000;
$font-grey: #2d2d2d;

$background-light: #fff;
$background-dark: #000;
$background-grey: #2d2d2d;
$background-grey-dark: #101010;
$background-primary: $primary-color;


$background-grey-hover: #3c3c3c;

$danger: #f00