$primary-color: #388e3c;
$primary-color-hover: #1ed75f;

$font-light: #fff;
$font-dark: #000000;
$font-grey: #9e9e9e;

$border-light-dark: #9e9e9e;

$background-light: #fff;
$background-dark: #000;
$background-grey: #2d2d2d;
$background-grey-light: #3b3b3b;
$background-grey-light-hover: #494949;
$background-grey-dark: #101010;
$background-grey-dark-light: #141414;
$background-primary: $primary-color;

$border-grey-light: #3b3b3b;
$background-grey-hover: #3c3c3c;

$danger: #f00;
